<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
		<!-- Stylesheet for header -->
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/header/header1.css')}}" />
			<!-- Stylesheet for admin crud part -->
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/adminsaidcss/adminsaidcss.css')}}" />
			<!-- Bootstrap 3.3.7 -->
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/bootstrap/dist/css/bootstrap.min.css')}}" />
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/bootstrap/dist/css/bootstrap.css')}}" />
			
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/bootstrap/less/normalize.less')}}" />
			<!-- Font Awesome -->
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/font/font-awesome/css/font-awesome.min.css')}}" />
			<!-- Ionicons -->
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/image/Ionicons/css/ionicons.min.css')}}" />
			 <!-- AdminLTE Skins. Choose a skin from the css/skins
		folder instead of downloading all of them to reduce the load. -->
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/skins/skin-blue.min.css')}}" />
			<!-- Theme style -->
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/AdminFile/AdminLTE.css')}}" />
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/AdminFile/AdminLTE.min.css')}}" />
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/square/blue.css')}}" />
			<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/admin-style.css')}}" /> 
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{asset('bundle/admin/loginbundle/image/logo.png')}}" />
    </head>
    <body class="hold-transition skin-blue sidebar-mini">	
		{% include 'AdminLoginBundle:Default:header.html.twig' %}
		{% include 'AdminLoginBundle:Default:seetingiconbar.html.twig' %}
		
        {% block body %}{% endblock %}
		{% include 'AdminLoginBundle:Default:footer.html.twig' %} 
		
		<script src="{{asset('bundle/admin/loginbundle/js/jquery/dist/jquery.min.js')}}"></script>
    	<script src="{{asset('bundle/admin/loginbundle/css/bootstrap/dist/js/bootstrap.min.js')}}"></script>
		<script src="{{asset('/bundle/admin/loginbundle/js/fastclick/lib')}}"></script>
    	<script src="{{asset('bundle/admin/loginbundle/js/dist/js/adminlte.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
