<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mosaddek">
        <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
        <link rel="shortcut icon" href="img/favicon.png">

        
		{% block title %}<title>Reset Password</title>{% endblock %}

		{% block stylesheets %}
		<!-- Stylesheet for header -->
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/header/header1.css')}}" />	
		<!-- Bootstrap 3.3.7 -->
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/bootstrap/dist/css/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/bootstrap/dist/css/bootstrap.css')}}" />

		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/bootstrap/less/normalize.less')}}" />
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/font/font-awesome/css/font-awesome.min.css')}}" />
		<!-- Ionicons -->
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/image/Ionicons/css/ionicons.min.css')}}" />
		<!-- AdminLTE Skins. Choose a skin from the css/skins
		folder instead of downloading all of them to reduce the load. -->
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/skins/skin-blue.min.css')}}" />
		<!-- Theme style -->
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/AdminFile/AdminLTE.css')}}" />
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/AdminFile/AdminLTE.min.css')}}" />
		<link rel="stylesheet" href="{{asset('bundle/admin/loginbundle/css/square/blue.css')}}" />
		{% endblock %}	
	</head>
        {% block body %} 
        <body class="hold-transition login-page" style="background: #d2d6de;">
			<div class="login-box">
				<!-- /.login-logo -->
					
				<div class="login-box-body">	<!-- sign in text on top of box -->
					<div class="login-logo">
						<label class="resetpassfont">Reset Password</label>
					</div>
					
					<form class="form-signin" method="POST" action="{{ path('admin_reset_password', {'flag':flag}) }}"> <!-- form was start from there -->
					<!-- error message-box -->
					
					{% if pass is defined %}
					
							<div name="error" id="error" class="alert alert-block alert-danger fade in login-error" style="display:block;">
								
								{{pass}}
							</div>
					{% endif %}
						<h4>New Password :</h4> <!-- email input text and input box under text  -->
						<div class="form-group has-feedback">
							<input type="password" name="_password_new" class="form-control" placeholder="New Password" required>
							<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<h4>Conform Password :</h4> <!-- password input text and input box under text -->
						<div class="form-group has-feedback">
							
							<input type="password" name="_password_new_one" class="form-control" placeholder="Re-enter Password" required>
							<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<button class="btn btn-primary btn-lg btn-login btn-block" type="submit">Change Password</button>  <!-- button for submit in form of login -->
							</div>
						</div>	
					</form> <!-- form is complet -->
				</div>
			</div>
             <!-- js placed at the end of the document so the pages load faster -->
        <script src="{{asset('/bundles/Adminlogin/js/jquery.js')}}"></script>
        <script src="{{asset('/bundles/Adminlogin/js/bootstrap.min.js')}}"></script>
		</body> <!-- end of login form and login box body -->
		
		{% endblock %}
        {% block javascripts %}
		{% endblock %}
	</body>
</html>